.games
  padding-top: 150px
  .game
    background: $header
    width: 300px
    height: 300px
    display: inline-block
    vertical-align: middle
    margin: 0.5em 0 0 0.5em
    .header
      font-size: 1.4em
    .info
      .section
        padding: 0.25em 1em
      .description
        text-align: justify
