.projects
  .project
    height: 100vh
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative
    .header, .info
      position: absolute
      right: 0
    .header
      width: 50%
      z-index: 3
      top: 40px
      font-size: 2em
    .info
      width: 50%
      background: $header
      position: absolute
      top: 150px
      .section
        padding: 0.25em 2em
      .description
        text-align: justify
        padding-bottom: 2em
    .footer
      background: $header
      margin: 0 auto
      position: absolute
      bottom: 0
      left: 0
      right: 0
      font-size: 2em

  @media screen and (max-width: 640px)
    .project
      .header
        width: 36%
        top: 34px
        font-size: 1em
      .info
        top: 100px
        width: 70%
        .section
          padding: 0.25em 1em
          font-size: 0.8em
        .description
          padding-bottom: 1em
      .footer
        font-size: 1em
