.projects
  .project
    height: 100vh
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative
    .info
      background: $header
      position: absolute
      top: 200px
      right: 0
      width: 50%
      .section
        padding: 0.25em 0.5em
      .header
        font-size: 2em
      .move
        font-size: 2em
