.projects
  .project
    height: 100vh
    overflow: hidden
    background-position: center
    position: relative
    .info
      background: $header
      position: absolute
      top: 40%
      right: 0
      width: 50%
      .section
        padding: 0.25em 0.5em
      .header
        font-size: 2em
