.games
  - GAMES.each do |game|
    .game
      .header
        .name= game.name
        .stars= star_rating_tag(game.stars)
        .expansions= game.expansions.join('<br>').html_safe
      .info
        .description= game.description
