header
  background: $header
  position: fixed
  width: 100%
  z-index: 2

  .left, .center, .right
    padding: 0.5em 0
    display: inline-block
    vertical-align: middle

  .left, .right
    font-size: 2.4em

  .gravatar
    img
      @include border-radius(100%)
      width: 120px
      height: 120px
      border: 8px solid $font
