header
  background: $header
  position: fixed
  width: 100%
  z-index: 2

  .left, .right
    padding: 0.5em 0
    display: inline-block
    vertical-align: middle

  .left
    .gravatar
      img
        @include border-radius(100%)
        width: 120px
        height: 120px
        border: 8px solid $font

  .right
    margin-left: 1em
    .name
      font-size: 2.4em
    .links
      a
        @include border-radius(100%)
        @include transition(all 0.5s ease-in-out)
        color: $font
        text-decoration: none
        display: inline-block
        width: 54px
        font-size: 2em
        &:hover
          @include transform(scale(1.5) rotate(360deg))
