@import url(http://fonts.googleapis.com/css?family=Lato:700)
@import 'compass/css3/border-radius'
@import 'compass/css3/transition'
@import 'compass/css3/transform'

$background: dimgray
$foreground: honeydew

body
  background-color: $background
  font-family: 'Lato', sans-serif
  text-align: center

.container
  width: 216px
  margin: 6em auto 0

  .gravatar
    img
      @include border-radius(100%)
      border: 8px solid $foreground

  .name
    color: $foreground
    font-size: 2.2em
    margin: 0.4em 0

  .link
    @include border-radius(100%)
    @include transition(all 0.2s ease-in-out)
    color: $foreground
    text-decoration: none
    display: inline-block
    height: 50px
    width: 50px

    &:hover
      @include transform(scale(1.5))
